extends _base

block content
   .container
      img(src='images/team.png')
      h2#about TsnuK besteht aus Michelle Stutz, Thomas Hoch und Dominic Looser. 

      p Feedback und Heiratsanträge auf hello at tsnuk.me.