extends _base

block content
   .container
      .flex-row
         .flex-item
            img(src='images/team.png')
            p TsnuK besteht aus Thomas Hoch, Dominic Looser und Michelle Stutz (von links nach rechts). 
         .flex-item
            h2.big 
               span Feedback, Produktwünsche, Heiratsanträge und Gedichte lesen wir unter 
               span.email hello at tsnuk.me
               span .