extends _base

block content
   .container
      p.intro Hallo! Wir machen T-Shirts mit <em>Hirn und Charme</em>. Entdecke <em>dada</em>&shy;istischen Unsinn, <em>nerd</em>ige Zahlen&shy;spielereien und <em>Körper&shy;flüssigkeiten</em>.
      .flex-row
         - for collection in collections
            .card
               .card-image
                  a: img(src='#{collection.image}')
               .card-header= collection.name
               p!= collection.description
               a: em &rarr; zur Kollektion
         


