.flex-row
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    // justify-content: space-around
    margin-bottom: unit
    @media bigScreen
        flex-wrap: nowrap

.card-image
    text-align: center

.card-header
    line-height: 2 * unit  

.page-header
    padding: unit 0
    background: pageHeaderBackground
    color: pageHeaderColor
    h1
        margin: 0
        padding: 0

.stacked-list
    list-style: none
    padding: 0
    li
        border-bottom: 1px solid softBorderColor
        padding: 0.5 * unit

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left: unit 
        width: 100%
        &::after
            content: '\A'
            white-space: pre