.page-header
    text-align: center
    h1
        font-family: sansFont
        line-height: 4 * unit
        font-size: xxxxxxl
        font-weight: normal

    nav 
        margin-top: 0.5 * unit
        a
            margin-right: 5px 
        a:not(:first-child)
            margin-left: 5px
        // a:not(:last-child)::after
        //     content: ' / '

.card
    padding: 0 0.5 * unit
    margin-bottom: 2 * unit
    h3
        margin-bottom: 0.4 * unit
    p 
        margin-top: 0

.card-text
    p
        margin-bottom: 0.5 * unit 
    a
        color: color2
        font-weight: bold

.card-header
    font-family: sansFont
    font-size: xl
    // text-align: center
    border-bottom: 2px dotted black
    border-top: @border-bottom
    margin: 0.5 * unit 0

.intro
    font-weight: normal
    strong
        font-weight: normal
        font-style: normal
        background: color1

    // font-size: l
    // font-weight:
    // @media bigScreen
    //     font-size: xl
    // em
    //     // font-weight: bold
    //     font-style: normal
    //     // text-transform: uppercase
    //     background: color1

#about
    font-weight: normal
    



         