//
// typography
//
baseFontSize = 20px
baseLineHeight = 1.4
scaleFactor = 1.3
sansFont = bebas-neue, sans-serif
sansFont2 = museo-sans
serifFont = 'EB Garamond'
bodyFont = sansFont2
headerFont = sansFont2

unit = baseLineHeight * baseFontSize

//
// breakpoints
//
bigScreen = '(min-width: 40em)'

//
// colors
//
baseColor = rgba(0,0,0,0.87)
primaryColor = #FE5E5E  

baseBackground = inherit
buttonColor = baseColor
softBorderColor = grey

pageHeaderBackground = baseBackground
pageHeaderColor = baseColor

//
// misc
//

baseBorder = 1px solid baseColor
maxPageWidth = 30 * unit
